Options -MultiViews
# disable multiviews so browse doesn't get rewritten to browse.php 
# before it hits site-specific rewrite rules

RewriteEngine on
#edit this url path to point to your project relative to the webroot
RewriteBase /~rsutton/etd

#RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php 


# don't redirect existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|png|css|html|xml)$ index.php 
