<esd>
  <development>
     <adapter>Oracle</adapter>
	<params>
	  <username></username>
	  <password></password>
	  <host></host>
	  <port></port>
	  <dbname></dbname>
	</params>
  </development>
  <test extends="development"/>
  <production extends="development"/>
</esd>
