<persis>
  <development>
    <url></url>
    <username></username>
    <password></password>
    <domain_id></domain_id>
    <ezid_url>https://ezid.cdlib.org/id/doi:........</ezid_url>
  </development>
  <test extends="development">
    <url>../fixtures/</url>
  </test>
  <production extends="development">
    <url></url>
  </production>
</persis>
