body { 
  position:relative;    /* keep page from getting too small (doesn't work for IE) */
  min-width:900px;
  margin:0px;
  padding:0px;
  font-family:Verdana, Arial, Sans Serif;
  font-size:10pt;
  color: #000000;
  background-color:#ffffff;
}

td { 
  vertical-align:top; 
}

a { 
 color:#1c1e2d;
}

a:hover { 
  color:#881725;   
}

.current { 
  color:#881725;
  font-weight:bold;
}

.top-space { 
  margin-top:15px;
}

/* min-width alternative for IE */
div.width { 
  height:1px;
  margin:0px;
  padding:0px;
  overflow:hidden;  /* keep vertical size minimal in IE */
}

input { 
  border:1px solid #14214d;
}

/* make certain submit buttons look like links */
input.submitlink { 
  border:none;
  background-color:transparent;
  text-decoration:underline;
  color:#1c1e2d !important;
  font-weight:bold;
  padding:0px;
  margin:0px;
  cursor:pointer;
}
input.submitlink * { 
  padding:0px;
  margin:0px;
}


/* correctly position 'submit thesis' link for IE */
div#sidenav input { 
  text-align:left;
  width:155px;  
}


div.suggestions { 
  width:250px;
  margin-top:-2px;
}


div#header { 
  position:relative;
  margin:0px;
  padding:0px;
  background-color:#14214d;
  color:#ffffff;
  min-width:925px;
  width:100%;
  /*  height:1.375in;*/
  height:95px;
  text-align:center;
  z-index:3;  /* for IE (can't just do photo div) */
}

/* min-width workaround for IE */
div#header div.width { 
  width:925px;
}


div#emory { 
  position:absolute;
  width: 195px;
  left:0in;
  margin-top:25px;
  height:70px;
  line-height:70px;
  font-size:24pt;
  border-right:1px solid white;
}
div#emory img { 
  margin-top:12px;
  border:0px;
}


div#etd_title { 
  position:absolute;
  font-style:italic;
  font-size:12pt;
  left:230px;
  bottom:30px;
/*  border:1px solid white;*/
}

div#etd_title a { 
  color:white;
  text-decoration:none;
}

div#navbar { 
  position:absolute;
  top:100px;
  left:0px;
  background-color:#f1aa00;
  height:35px;
  width: 195px;
  margin-right:40px;
  margin-right:40px;
  padding:0px;
  z-index:2;
} 

div#navbar-curve { 
  position:absolute;
  background-color:#ffffff;
  left:140px;
  top:7px;
  height:28px;
  width:55px;
  z-index:2;
}

div#etdhome { 
  padding-top:12px;
  padding-left:20px;
  width:135px;
}
div#etdhome a { 
  text-decoration:none;
}

div#login { 
  position:relative;
  margin-top:5px;
  border-top:7px solid #f1aa00;
  height:25px;
  z-index:5;
  margin-left:195px;
  min-width:595px;  /* stop sliding at same point where header photo does */
  margin-right:135px;
  color:black;
  padding:4px;
}

div#login div.width { 
  width:595px;
}

div#login form { 
  display:inline;
}

div#login input { 
  width:80px;
}



body h2 {   /* IE doesn't apply without body */
  margin-top:0px;
  font-variant:small-caps;
  font-size:10pt; 
}

body h3 {   /* IE doesn't apply without body */
  margin-top:0px;
  font-variant:small-caps;
  font-size:10pt;
}

div#photo { 
  position:absolute;
  right:25px;
  top:15px;
  width:425px;
  height:123px;
  color:#f1aa00;
  z-index:3;
}

div#photo p { 
  font-size:90%;
  position:absolute;
  right:0px;
  bottom:50px;
  margin:5px;
  padding:0px;
  text-align:right;
  padding-right:115px;
}

div#photo img { 
  float:right;
  border:3px solid #f1aa00;
}


div#sidenav { 
  position:absolute;
  top:190px;
  left:25px;
  width:165px;
  margin-right:5px;
  color:black;
}

div#sidenav h2 { 
  color:#881725;   
  font-size:10pt;
  font-variant:normal;
}

div#sidenav div.section { 
  margin-bottom:30px;
}

div.proquest input { 
  font-size:90%;
}

div.sidenav ul { 
  list-style-type:none;
  margin:0px;
  padding:0px;
  padding-left:10px;
  padding-bottom:10px;
  text-indent:-10px;
}

ul.browse { 
  list-style-type:none;
  margin:0px;
  padding-left:15px;
}

p.browse_heading { 
  border-bottom:2px solid #f1aa00;
}
p.browse_heading a { 
  text-decoration:none;
}


div#calendar { 
  float:left;
  width:185px;
  margin:0px;
}
div#news { 
  margin:0px;
  margin-left:205px;
  padding:0px;
 }

ul.horizontal { 
  display:inline;
  margin-left:0px;
  padding-left:0px;
}

ol li { 
  padding-top:5px;
}
/* FIXME: probably not a permanent position (absolute positioning for input/go) */
div#login li input { 
  position:absolute;
  font-size:9pt;
  width:185px;
  left:250px;
}

ul.horizontal li { 
  list-style-type:none;
  display:inline;
  border-left:1px solid black;
  padding-left:10px;
  padding-right:10px;
}

ul.horizontal li.first { 
  border:none;
}


div.content { 
  position:relative;
  margin-left:195px;
  padding-top:25px;
/* when top-ten section is not displayed, padding should be set to 25px */
  padding-right:25px;
  padding-bottom:25px;
  min-width:525px;
}

div.content div.width { 
  width:730px;
}

div.content h1 { 
  color:#f1aa00;
  font-size:20px;
  margin:0px;
}

div.content hr { 
  background-color: #f1aa00;  /* mozilla browsers */
  color: #f1aa00;   /* IE */  
  border:0px;
  height: 2px;
  width: 100%;
  margin-top:5px;
  margin-bottom:10px;

}

div#footer { 
  clear:both;
  position:fixed; /* FIXME: fixed doesn't work properly in IE */
  bottom:0px;
  padding-bottom:2px;
  text-align:center;
  font-size:80%;
  width:100%;
  background-color:#ffffff;
}

div.shrink p{
    display:inline
}

.leftcorner { 
  text-align:right;
  background-color:#ffffff;
}
.leftrightcorner { 
  text-align:center;
  background-color:#ffffff;
  left:0px;
  right:0px;
}
.bottom { 
  position:absolute;  
  bottom:0px;
}


.c {  
  background-color:#f1aa00;
  height:1px;
  margin:0px;
  overflow:hidden;
}


.c4 { margin: 0 5px }
.c3 { margin: 0 3px }
.c2 { margin: 0 2px;}
.c1 { margin: 0 1px;}

.leftcorner  .c  { margin:0px; }
.leftcorner  .c4 { margin-left:4px; }
.leftcorner  .c3 { margin-left:2px; }
.leftcorner  .c2 { margin-left:1px; }
.leftcorner  .c1 { margin-left:1px; }

div#navbar-curve .c  { 
  background-color:#f1aa00;
}


#navbar-curve  .c  { margin:0px; }
#navbar-curve  .c1 { margin-right:10px;}
#navbar-curve  .c2 { margin-right:13px; }
#navbar-curve  .c3 { margin-right:16px; }
#navbar-curve  .c4 { margin-right:18px; }
#navbar-curve  .c5 { margin-right:20px; }
#navbar-curve  .c6 { margin-right:22px; }
#navbar-curve  .c7 { margin-right:23px; }
#navbar-curve  .c8 { margin-right:24px; }
#navbar-curve  .c9 { margin-right:25px; }
#navbar-curve  .c10 { margin-right:26px; }
#navbar-curve  .c11 { margin-right:27px;}
#navbar-curve  .c12 { margin-right:28px; }
#navbar-curve  .c13 { margin-right:29px; }
#navbar-curve  .c14 { margin-right:30px; }
#navbar-curve  .c15 { margin-right:31px; }
#navbar-curve  .c16 { margin-right:32px; }
#navbar-curve  .c17 { margin-right:33px; }
#navbar-curve  .c18 { margin-right:34px; }
#navbar-curve  .c19 { margin-right:35px; }
#navbar-curve  .c20 { margin-right:36px; }
#navbar-curve  .c21 { margin-right:37px;}
#navbar-curve  .c22 { margin-right:38px; }
#navbar-curve  .c23 { margin-right:39px; }
#navbar-curve  .c24 { margin-right:40px; }
#navbar-curve  .c25 { margin-right:42px; }
#navbar-curve  .c26 { margin-right:44px; }
#navbar-curve  .c27 { margin-right:46px; }
#navbar-curve  .c28 { margin-right:48px; }
#navbar-curve  .c29 { margin-right:50px; }
#navbar-curve  .c30 { margin-right:52px; }



/* record list */
div.listrecord { 
  border:none;
  border-bottom:1px solid black;
  padding-bottom:10px;
  margin-bottom:10px;
/*  clear:right;*/
}

div.fullrecord { 
  position:relative;
  width:100%;
}

div.record_title { 
 font-weight:bold;
}

div.record_title p { 
  margin: 0px;
}

#abstract p {  /* div or body (in FCKeditor) */
 margin: 1em 0;
}

/* workflow action links */
div.actions { 
  float:right;              
  text-align:right;
  background:#ffffff;
 }

a.action { 
  float:right;
  color:blue;
  clear:right;
  text-decoration:none;
}
a.action img { 
 border:0px;
 vertical-align:middle; 
}

div.info { 
  clear:right;
  float:right;
  text-align:right;
}

div.listrecord h3 { 
  font-size:115%;
  margin-top:0px;
  margin-bottom:5px;
}
div.listrecord p, .fullrecord p { /* div or body (in FCKeditor) */
  margin:0px;
}

div.fullrecord { 
  background:#ffffff;
}

div.fullrecord h1 { 
  font-weight:normal;
}

div.fullrecord h2 { 
/*  font-variant:normal;*/
  margin-top:10px;
  border-top:1px solid #f1aa00;
  border-bottom:1px solid #f1aa00;
  background-color:#fffdee; /* very faint yellow */
  clear:both;
}

div.fullrecord div.use { 
 margin:10px 0px;
 font-style:italic;
}
div.contact_info h2 { 
  margin:2px;
  border:none;
  background-color:white;
}



div.listrecord p.status { 
  margin-top:8px;
  font-size:125%;
 }

div.listrecord div.record_status { 
  margin-top:5px;
  padding:4px;
  background-color:#efefef;
  border: 1px solid #565656;
}

h2.history { 
  margin-top:15px;
}

table.history { 
/*border-top:double #f1aa00;
margin-top:15px;*/
 }

table.history th { 
  text-align:left;
}

p.note { 
  font-size:11pt;
  text-align:center;
  margin:15px;
}


table div.fullrecord { 
  padding:0.5in;
}

div#files span.description, div#files .lastmodified { 
 font-size:90%;
 color: #787878;
}

div#preview { 
  float:right;
/*  border:1px solid blue;*/
  text-align:right;
  padding-bottom:10px;            
}

.suggestor_value { 
  background:#efefef;
/*  display:inline;*/
/*  border:1px solid black;*/
  padding:2px;
 }


h2.instructions { 
  margin-bottom:0px;
}
ul.instructions { 
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0.5in;
  list-style-type:circle;
  font-size:11pt;
}


div.buttons { 
 text-align:center;
 width:100%;
 font-size:14pt;
 margin-top:5px;
 padding-bottom:2px;
 border-top:1px solid #f1aa00;
 border-bottom:1px solid #f1aa00;
 background:#fffdee;  /* very faint yellow */
}



div.cv_select { 
 margin:0.25in;
 position:relative;
 width:100%;      
 padding-bottom:0.5in;
}
div.close { 
 position:fixed;
 text-align:right;
 right:25px;
 top:25px;
}

div.listnav { 
  background-color:#14214d;
  text-align:center;       
  vertical-align:middle; 
  height:20px;
}
.admin-nav { 
 float:right;
}
.admin-nav select { 
 font-size:85%; /* hack: match the rest of listnav inputs */
 }

/* statistics */
ol.top50 { 
 clear:right;
 padding-top:0.25in;
}

table.statistics { 
 width:100%;
 margin-top:15px;
 margin-bottom:15px;
 clear:right;
}

table.statistics td.caption {  
 text-align:left;
 border-bottom: 1px solid #f1aa00;
 border-top: 1px solid #f1aa00;
}

table.statistics td.count, table.statistics th { 
 text-align:right;
}

table.statistics td.caption {  
 text-align:left;
 border-bottom: 1px solid #f1aa00;
 border-top: 1px solid #f1aa00;
}

table.statistics td.count, table.statistics th { 
 text-align:right;
}
td.count { width:30px }
td.label { width:250px }

td.abstract, th.abstract { 
 background-color: #e8eeff/*#bac2d9*/;
}

td.download, th.download { 
/* background-color:#f3e7c9;*/
 background-color:#fff8e8;
}

td.separator{
    border-bottom-style:solid;
    border-bottom-width:2px;
}

div.abstractviews { 
  background-color:#14214d;
  border:1px solid black;
  color:#fff;
  font-size:8pt;
  line-height:10px;
  text-align:right;
}

div.downloads { 
  background-color:#f1aa00;
  border:1px solid black;
  height:10px;
  text-align:right;
  font-size:8pt;
  line-height:10px;
}

div.key { 
  float:left;
  height:10px;
  width:10px;
  margin: 0px 5px;
}

img.flag { border:1px solid black; }


div#roadmap { 
 text-transform:uppercase;
 font-size:15pt;
 font-weight:bold;
 margin:15px;
}

div#roadmap span.label { 
 font-size:12pt;
 text-transform:none;
 font-weight:normal;
}

div#roadmap div.state {  
  display:inline;
  padding:5px;
  font-size:12pt;
  background-color:#969696;
  border:1px solid black;
  color:white;
}

div#roadmap div.current { 
 background-color:#0dac1c;
}

table.advanced_search th { 
 text-align:right;
 font-size:11pt;
}

div.abstract p { 
 margin-bottom:10px;
}


/* edit research fields */
div#select_researchfields { 
  height:300px;
  overflow:auto;
  border:1px solid gray;
}

div#select_researchfields a.selected, ul#select_program li.selected > a { 
 background-color:yellow;
}

div#submission_status { 
 position:absolute;
 right:5px;        
 padding:5px;                
 width:175px;
 border:1px solid #f1aa00;
 background-color: #fffdee; /* very faint yellow */
}

div#submission_status a { 
  text-decoration:none;
}

div#submission_status ul.missing { 
 background-color:white;
 font-size:85%;
 margin:0px;
 padding:0px;
 padding-left:25px;
}
div#submission { 
 margin-right:175px !important;
}

div#messages { padding-bottom:5px; }
div#messages p, .success { margin:0px; color:green;}
div#messages p.error { color:red; }
div#messages p.warn { color:#ef3e15; }


div#edit_faculty a.remove { padding-left:20px; font-size:75%;}
div#edit_faculty span.dept { float:right; font-size:80%;}

table#nonemory_list th { font-size:85%; text-align:left; }

ul.suggestions span.count { float:right; font-size:80%;}

p.warning { 
  border: 2px solid #d70d0d;  /* darkish red */
  padding: 4px;
  background-color: #efefef; /* light grey */
}
ul.errors { color:red; }

span#exclamation { 
 color:#d70d0d;
 font-size:25pt;
 font-family:Times;
 font-weight:bold;
 width:15px;
 float:left;
 margin:0px;
 padding:0px;
 padding-left:2px; padding-right:2px;
}

span#processing { 
 padding-left: 25px;
 font-size:115%;
 font-weight: bold;
 color: green;
}
span#processing span.note { 
 font-size:80%;
 font-weight: normal;
}

span.userinfo { padding-left:10px; font-size:90%; }
span.userinfo, span.userinfo a { color:#565656; }

div#whylogin { 
 margin:5px;
 margin-left:350px;
 width:350px;
 background-color:white;
 border: 1px solid black;
 padding:3px;
}

div#whylogin a.close { 
  float:right; 
  text-decoration:none;
  font-weight:bold;
  color:black;
}

div.indent { margin-left:25px; }

/* consistent look for workflow links and buttons */
.button, .xforms-submit input { 
 background-color:#efefef;
 border:1px solid black;
 font-weight:bold;
 font-size:11pt;
 padding:3px;
 text-decoration:none;
}
.button:hover, .xforms-submit input:hover { 
  color:#881725; 
}

div.facets { 
 position:absolute;
 right:5px;
 border:1px solid #f1aa00;
 background:white;
 width:150px;
 font-size:85%;
 padding:5px;
}

div.facets ul, div.facets li, div.facets p { 
 margin:0px; padding:0px;
}
div.facets li { 
 margin-left:15px;
 list-style-type:none;
}

div.facets p.label { font-weight:bold; color:#f1aa00; /*text-decoration:underline; */}

/*div.log { clear:both; }*/
div.log .priority { float:left; width:5em;/*border:1px solid red; */}
div.log .user { float:left; width:5em; }
div.log .message { margin-left:10em; }
div.log .backtrace { white-space:pre; text-indent:0px;}
div.log div.timestamp { float:right; color:grey;}
div.ERR { color:red; }
div.WARN { color:#ef3e15;; }
div.INFO { color:blue; }
div.DEBUG { color:purple; }

div.log-labels { font-weight:bold; border-bottom:1px solid black; margin-bottom:5px; }
div.log-labels div.timestamp { color:black }

div#quicksearch { padding:15px; }
div#quicksearch p { margin:0px; }


div.relevance { 
 float:right;
 border:1px solid #262c39;
 width:2cm;
 height:8px;
 background-color:#eeeeee;
}
div.relevance div.score { 
 max-width:2cm;
 float:right;
 background-color:#14214d;
 height:8px;
}
div.relevance-label { 
 float:right;
 clear:right;
 font-size:8.5pt;
 padding-right:5px;
}

div.pagination { margin:5px 0px; padding-bottom:5px; border-bottom:1px solid #bcbcbc; }
div.pagination p { margin:0px; }

div.letters { text-align:center; border:1px solid grey; padding:2px; }
div.letters a { text-decoration:none; font-size:115%; padding:0px 2px;}
div.letters a.current { font-weight:bold; }

span.permalink { background-color: #ffda82; /*#fffdee; /* very faint yellow */ }

/* formatting used by FCKeditor -- explicitly include divs to override other formatting */
.Indent1, div.Indent1 { margin-left: 40px !important; }
.Indent2, div.Indent2 { margin-left: 80px !important; }
.Indent3, div.Indent3 { margin-left: 120px !important;}
.JustifyLeft, div.JustifyLeft { text-align: left; }
.JustifyRight, div.JustifyRight { text-align: right; }
.JustifyCenter, div.JustifyCenter { text-align: center; }
.JustifyFull, div.JustifyFull { text-align: justify; }

.formLabel {
  display:block;
  margin-left: 10px;
  width: 150px;
  float: left;
}
.formInput {
  vertical-align: top;
  margin-right: 20px;
}
.formInputArea {
  clear: right;
  vertical-align: top;
  _height: 300px;
  min-height:300px;
  _width:300px;
  min-width:300px;
}
.formRow {
  clear: none;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 15px;
}
.formRow #message {
  display: block;
  clear: none;
  vertical-align: top;
  height: 250px;
  width: 500px;
  _height: 250px;
  _width: 500px;
  min-height: 250px;
  min-width: 500px;
}
#helpFormButtons {
  clear: none;
  white-space: nowrap;
/*  margin: 20px; */
}
#helpFormFields {
  margin: 20px;
  border-color: 0xcccccc;
  border-width: 1px;
}
#helpPageContent {
  margin-left: 75px;  
}
#reports_ul li {
  height: 25px;
}

ul.tree li, ul#select_program li { list-style-type:none; }
ul.tree input { width:350px; border:0px; }
ul.tree input:focus { background-color:#FFFF99; border:1px solid gray;}
.toggle { color:blue; font-weight:bold; font-size:12pt; }
.hdl { /*height:13px; width:13px; */ margin-top:5px; padding-right: 4px; vertical-align:middle;}
a:hover .hdl {}

/* autocomplete styles (FIXME: overlap with faculty suggestor?) */
div.autocomplete {
  margin:0px;  
  padding:0px;  
  width:250px;
  background:#fff;
  border:1px solid #888;
  position:absolute;
  z-index:3;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li.selected { 
  background-color:#ffb;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  display:block;
  list-style-type:none;
  cursor:pointer;
}

span.ok { color:green;  }
span.incomplete { color:red; }

form#rightsForm p { margin-bottom:0px; }
p.label { font-weight:bold }
div.subchoice { 
 margin-left:0.5in;
}

.required{font-weight:bold;}
.required:after { content: " *"}

.link-trigger {
  border:none;
  background-color:transparent;
  text-decoration:underline;
  color:blue;
  font-size:smaller;
  padding:0px;
  margin:0px;
  cursor:pointer;
}

.invalid { color:red; font-weight:bold; }

div#key {
  font-size:90%;
  border: 2px solid #565656; /* medium grey */
  background-color: #efefef; /* light grey */
  width:35%;
  padding:3px;
}

div.grayed { 
  margin-top:5px;
  padding-left:3px;
  padding-top:2px;
  margin-bottom:5px;  
  background-color: #efefef; /* light grey */
  color:navy;
  line-height: 1.1;
}

