<config>
  <development>
     <adapter>Pdo_Sqlite</adapter>
     <params>
       <dbname></dbname>  
     </params>
  </development>
  <test extends="development">
     <params>
       <dbname></dbname>  
     </params>
  </test>
  <production extends="development">
     <params>
       <dbname></dbname>  
     </params>
  </production>  
</config>
