<proquest>
  <development>
    <ftp>
      <server></server>
      <user></user>
      <password></password>
    </ftp>
    <email></email>
    <abstract_max_words>350</abstract_max_words>
  </development>
  <test extends="development"/>
  <production extends="development">
    <ftp>
      <server></server>
      <user></user>
      <password></password>
    </ftp>
    <email></email>
  </production>
</proquest>		
