<fedora>
  <development>
     <server></server>
     <port></port>
<!-- default account should be a non-privileged user -->
     <user>guest</user>
     <password></password>
<!-- account for automated processes that need more access (should be etdadmin) -->
     <maintenance_account>
       <user></user>  
       <password></password>   
     </maintenance_account>
     <protocol>https</protocol>
     <resourceindex>risearch</resourceindex>
  </development>
  <test extends="development">
     <port></port>
     <user></user>  
     <password></password>   
  </test>
  <production extends="development">
     <server></server>
     <port></port>
     <user></user>
     <password></password>
     <maintenance_account>
       <user></user>  
       <password></password>   
     </maintenance_account>
     <protocol>https</protocol>
     <resourceindex>risearch</resourceindex>
  </production>
</fedora>
